<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/login" class="navbar-brand">E-<b>Learning</b></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-start" id="navbarCollapse">
          <div class="dropdown">
          <a class="nav-item nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <input type="search" id="search" class="form-control me-2" placeholder="Search for anything" aria-label="Search">
      <div class="navbar-nav ms-auto action-buttons">

          <a><i class="fa-solid fa-cart-shopping"></i></a>
          <a><i class="fa-regular fa-bell"></i></a>
          <a><i class="fa-solid fa-heart"></i></a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">My Card </a></li>
              <li><a class="dropdown-item" href="#">Wish List</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </div>
      </div>
  </div>
</nav>
